# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9d0ea3fd341a028303c35940cf082cb7d849a0b741c12646fc07514264fbc06da551dac1858a7d155e82e7516486530b3fa771597a85d924da96fdc422e6ffd0

test:
  secret_key_base: 9e383690d899c9cab5aeff581fc052944e35a042123668ec4d443c559e363bc3e7a0bf177333a97c88b94484bec8d5e5cd72cb74687b973d8b8236d318ad83b2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
